<%= form_for @formulary, :validate => true do |f| %>
  <% if @formulary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@formulary.errors.count, "error") %> prohibited this formulario from being saved:</h2>
      <ul>
      <% @formulary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form role="form">
<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <label>Responsable de llenado</label>
      <%= f.text_field :responsable_llenado, class: "form-control"%>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

  <div class="row">
    <div class="alert alert-info col-md-10">
      <strong>Consultas odontológicas</strong>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label>COD01: Primera Vez</label>
        <%= f.number_field :cod01, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <div class="form-group">
          <label>COD02: Subsecuente</label>
          <%= f.number_field :cod02, options = {min: 1, class: "form-control"} %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 alert alert-info">
      <p>
        <strong>Actividades Preventivas:</strong> Intramuros y extramuros
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label>APE01: Detección de placa bacteriana*</label>
        <%= f.number_field :ape01, options = {min: 1, class: "form-control"} %>
      </div>

      <div class="form-group">
        <label>APE04: Enjuagues de fluoruro de sodios (Autoaplicaciones)*</label>
        <%= f.number_field :ape04, options = {min: 1, class: "form-control"} %>
      </div>

      <div class="form-group">
        <label>APE07: Instrucción de autoexamen de cavidad bucal </label>
        <%= f.number_field :ape07, options = {min: 1, class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <div class="form-group">
        <label>APE02: Instrucción en técnica de cepillado*</label>
        <%= f.number_field :ape02, options = {class: "form-control"} %>
      </div>
      <div class="form-group">
        <label>APE05: Revisión de tejidos bucales*</label>
        <%= f.number_field :ape05, options = {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <div class="form-group">
       <label>APE03: Instrucción de uso del hilo dental </label>
        <%= f.number_field :ape03, options = {class: "form-control"} %>
      </div>
      <div class="form-group">
        <label>APE06: Revisión e instrucción de higiene de protésis*</label>
        <%= f.number_field :ape06, options = {class: "form-control"} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 alert alert-info">
      <p>
        <strong>Actividades Preventivas:</strong> Intramuros
      </p>
    </div>
  </div>

<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <label>API01: Profilaxis</label>
      <%= f.number_field :api01, options = {class: "form-control"} %>
    </div>
    <div class="form-group">
      <label>API04: Sellado de fosetas y fisuras </label>
      <%= f.number_field :api04, options = {class: "form-control"} %>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <div class="form-group">
      <label>API02: Odontoxesis </label>
      <%= f.number_field :api02 , options = {class: "form-control"}%>
    </div>
    <div class="form-group">
      <label>SSB01: Sesiones sobre Salud Bucal</label>
      <%= f.number_field :ssb01 , options = {class: "form-control"}%>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <div class="form-group">
     <label>API03: Aplicación tópica de fluor</label>
      <%= f.number_field :api03, options = {class: "form-control"} %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 alert alert-info">
    <p>
      <strong>Curativo asistencial</strong>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <label>CAO01: Obturación con Amalgama</label>
      <%= f.number_field :cao01, options = {class: "form-control"} %>
    </div>
    <div class="form-group">
      <label>CAO04: Tratamiento restaurativo atraumático (extramuros)</label>
      <%= f.number_field :cao04, options = {class: "form-control"} %>
    </div>
    <div class="form-group">
      <label>CAO07: Extracciones Permanentes</label>
      <%= f.number_field :cao07 , options = {class: "form-control"}%>
    </div>
    <div class="form-group">
      <label>CAO10: Farmacoterapia</label>
      <%= f.number_field :cao10, options = {class: "form-control"} %>
    </div>
    <div class="form-group">
      <label>TIT01: Tratamiento Integral Terminado</label>
      <%= f.number_field :tit01 , options = {class: "form-control"}%>
    </div>
  </div>
  <div class="col-md-2"></div>

  <div class="col-md-2">
    <div class="form-group">
      <label>CAO02: Obturación con Resina</label>
      <%= f.number_field :cao02, options = {class: "form-control"} %>
    </div>
    <div class="form-group">
      <label>CAO05: Obturación con material temporal</label>
      <%= f.number_field :cao05, options = {class: "form-control"} %>
    </div>
    <div class="form-group">
      <label>CAO08: Terapia Pulpar</label>
      <%= f.number_field :cao08 , options = {class: "form-control"}%>
    </div>
    <div class="form-group">
      <label>CAO11: Otras Atenciones</label>
      <%= f.number_field :cao11 , options = {class: "form-control"}%>
    </div>
  </div>

  <div class="col-md-2"></div>

  <div class="col-md-2">
    <div class="form-group">
      <label>CAO03: Obturación con ionómetro de vidrio</label>
      <%= f.number_field :cao03, options = {class: "form-control"} %>
    </div>
    <div class="form-group">
      <label>CAO06: Extracciones Temporales</label>
      <%= f.number_field :cao06, options = {class: "form-control"} %>
    </div>
    <div class="form-group">
      <label>CAO09: Cirugía Bucal</label>
      <%= f.number_field :cao09 , options = {class: "form-control"}%>
    </div>
    <div class="form-group">
      <label>CAO12: Radiografías</label>
      <%= f.number_field :cao12 , options = {class: "form-control"}%>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-10 alert alert-info">
      <p>
        <strong>Universo</strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label>UNI01: Escuelas</label>
        <%= f.number_field :uni01, options = {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <div class="form-group">
       <label>UNI02: Unidades de salud</label>
        <%= f.number_field :uni02 , options = {class: "form-control"}%>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <div class="form-group">
        <label>UNI03: Otros(ferias de salud, plazas, mercados, etc.)</label>
        <%= f.number_field :uni03 , options = {class: "form-control"}%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 alert alert-info">
      <p>
        <strong>Beneficiados</strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label>BEN01: Menores de 20 años</label>
        <%= f.number_field :ben01, options = {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <div class="form-group">
        <label>BEN02: 20 años ó más</label>
        <%= f.number_field :ben02, options = {class: "form-control"} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 alert alert-info">
      <p>
        <strong>Personal participante</strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label>PER01: Personal de salud</label>
        <%= f.number_field :per01 %>
      </div>
    </div>
    <div class="col-md-2"></div>

    <div class="col-md-2">
      <div class="form-group">
        <label>PER02: Otros</label>
        <%= f.number_field :per02 %>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.hidden_field :user_id, :value => current_user.id, :readonly => true  %>
      </div>
    </div>
  </div>
<div class="actions">
  <%= f.submit "Guardar", :confirmation => true %>
</div>

</form>
<% end %>
