<p id="notice"><%= notice %></p>
<p>
  <b>Cod01:</b>
  <%= @formulary.cod01 %>
</p>

<p>
  <b>Cod02:</b>
  <%= @formulary.cod02 %>
</p>

<p>
  <b>Ape01:</b>
  <%= @formulary.ape01 %>
</p>

<p>
  <b>Ape02:</b>
  <%= @formulary.ape02 %>
</p>

<p>
  <b>Ape03:</b>
  <%= @formulary.ape03 %>
</p>

<p>
  <b>Ape04:</b>
  <%= @formulary.ape04 %>
</p>

<p>
  <b>Ape05:</b>
  <%= @formulary.ape05 %>
</p>

<p>
  <b>Ape06:</b>
  <%= @formulary.ape06 %>
</p>

<p>
  <b>Ape07:</b>
  <%= @formulary.ape07 %>
</p>

<p>
  <b>Api01:</b>
  <%= @formulary.api01 %>
</p>

<p>
  <b>Api02:</b>
  <%= @formulary.api02 %>
</p>

<p>
  <b>Api03:</b>
  <%= @formulary.api03 %>
</p>

<p>
  <b>Api04:</b>
  <%= @formulary.api04 %>
</p>

<p>
  <b>Ssb01:</b>
  <%= @formulary.ssb01 %>
</p>

<p>
  <b>Cao01:</b>
  <%= @formulary.cao01 %>
</p>

<p>
  <b>Cao02:</b>
  <%= @formulary.cao02 %>
</p>

<p>
  <b>Cao03:</b>
  <%= @formulary.cao03 %>
</p>

<p>
  <b>Cao04:</b>
  <%= @formulary.cao04 %>
</p>

<p>
  <b>Cao05:</b>
  <%= @formulary.cao05 %>
</p>

<p>
  <b>Cao06:</b>
  <%= @formulary.cao06 %>
</p>

<p>
  <b>Cao07:</b>
  <%= @formulary.cao07 %>
</p>

<p>
  <b>Cao08:</b>
  <%= @formulary.cao08 %>
</p>

<p>
  <b>Cao09:</b>
  <%= @formulary.cao09 %>
</p>

<p>
  <b>Cao10:</b>
  <%= @formulary.cao10 %>
</p>

<p>
  <b>Cao11:</b>
  <%= @formulary.cao11 %>
</p>

<p>
  <b>Cao12:</b>
  <%= @formulary.cao12 %>
</p>

<p>
  <b>Tit01:</b>
  <%= @formulary.tit01 %>
</p>

<p>
  <b>Uni01:</b>
  <%= @formulary.uni01 %>
</p>

<p>
  <b>Uni02:</b>
  <%= @formulary.uni02 %>
</p>

<p>
  <b>Uni03:</b>
  <%= @formulary.uni03 %>
</p>

<p>
  <b>Ben01:</b>
  <%= @formulary.ben01 %>
</p>

<p>
  <b>Ben02:</b>
  <%= @formulary.ben02 %>
</p>

<p>
  <b>Per01:</b>
  <%= @formulary.per01 %>
</p>

<p>
  <b>Per02:</b>
  <%= @formulary.per02 %>
</p>

<%= link_to 'Editar', edit_formulary_path(@formulary) %> |
<%= link_to 'Volver', root_path %>
